ul	{
    list-style-type: none;
    padding: 0;
}
li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 5px;
}
li:hover {
    background-color: #eee;
    cursor: pointer;
}

.delete-icon, .close-btn {
    -webkit-mask: url(del.svg) no-repeat center;
    float: right;
    height: 12px;
    width: 12px;
    background-color: #c7c2c2;
}

.delete-icon:hover, .close-btn:hover {
    background-color: black;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: black;
    padding: 10px 20px;
    color: white;
}

h1 {
    margin: 0;
}

a {
    margin: 2px;
    color: white; /* Color of the text links if you add them */
    text-decoration: none; /* Removes the underline from links */
}

a:hover {
    opacity: 0.7; /* Makes the link slightly transparent when hovering */
}