ul	{
    list-style-type: none;
    padding: 0;
}
li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 5px;
}
li:hover {
    background-color: #eee;
    cursor: pointer;
}

.delete-icon {
    -webkit-mask: url(del.svg) no-repeat center;
    float: right;
    height: 12px;
    width: 12px;
    background-color: #c7c2c2;
}

.delete-icon:hover {
    background-color: black;
}